<%= javascript_include_tag "modal.js", "data-turbo-track": "reload", defer: true %>
<div class="profile_first_container">
    <div class="profileIntro">
        <h1>Welcome <span style="color:#c374be;"><%= current_user.name %></span> ! </h1>
        <p>You can view your past , current and future bookings here.</>
    </div>
    <div class="userProfile_container">
        <%= image_tag(current_user.avatar, :class => "profileImg") %>
        <p>Name: <%= current_user.name%></p>
        <p>Email: <%= current_user.email%></p>
    </div>
</div>
    <div class="dashboard_row_container">
        <h2>Past stays</h2>
        <%if @pastBookings.length == 0%>
            <p>No past stays </p>
        <%else%>
        <div class="dashboard_header">
        <li>Hotel</li>
        <li>Room Type</li>
        <li>Number of rooms booked</li>
        <li>Total price</li>
        <li>Check in date</li>
        <li>Check out date</li>
        <li>Rating</li>
        </div>
 
<%= render 'booking', obj: @onGoingBookings %>
  <%= will_paginate @onGoingBookings%>
       <%end%>
    </div>

<div class="dashboard_row_container">
<h2 style="color:blue">Ongoing stays</h2>
        <%if @onGoingBookings.length == 0%>
            <p>No ongoing stays </p>
        <%else%>
<div class="dashboard_header">
<li>Hotel</li>
<li>Room Type</li>
<li>Number of rooms booked</li>
<li>Total price</li>
<li>Check in date</li>
<li>Check out date</li>
<li>Rating</li>
</div>
 <div >
</div>
<%= render 'booking', obj: @onGoingBookings %>
  <%= will_paginate @onGoingBookings%>
   <%end%>
</div>
<div class="dashboard_row_container">
<h2 style="color:green">Upcoming stays</h2>

        <%if @futureBookings.length == 0%>
            <p>No upcoming stays </p>
        <%else%>
<div class="up_dashboard_header">
<li>Hotel</li>
<li>Room Type</li>
<li>Number of rooms booked</li>
<li>Total price</li>
<li>Check in date</li>
<li>Check out date</li>
</div>
<%= render 'upcomingbooking', obj: @futureBookings %>
  <%= will_paginate @futureBookings%>
    <%end%>
</div>

<%if @cancelledBookings.length != 0%>
<div class="dashboard_row_container">
<h2 style="color:red">Cancelled bookings</h2>
<div class="up_dashboard_header">
<li>Hotel</li>
<li>Room Type</li>
<li>Number of rooms booked</li>
<li>Total price</li>
<li>Check in date</li>
<li>Check out date</li>
</div>
<%= render 'cancelledbooking', obj: @cancelledBookings %>
  <%= will_paginate @cancelledBookings%>
</div>

<%end%>
