<h2>The manager dashboard page</h2>
<h2>Hotel Details</h2>
<p><%= @hotel.name %></p>
<p><%= @hotel.address %></p>
<p><%= @hotel.description %></p>
<div>

<h3>Search for Users</h3>
<div id="stock-lookup">
  <%= form_tag hotelManager_search_path, remote: true, method: :post, id: 'user-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :queryEmail, params[:query], placeholder: "Enter the email of the user", autofocus: true, class: "form-control search-box input-lg" %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
          <i class="fa fa-search"></i> Look up the user
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<h3>Search in interval</h3>
<%= form_with scope: :query , url:hotelManager_intervalSearch_path, data: { remote: true } do |f| %>

<%= f.label :checkInDate%>
<%= f.date_field :checkInDate%>
<%= f.label :checkOutDate%>
<%= f.date_field :checkOutDate%>
<p>
<%= f.submit%>
</p>
<%end%>
</div>
<h2>Bookings in the hotel</h2>
<% if @hotelBookings.length == 0 %>
<p>Your hotel doesn't have any bookings yet.</p>
<%else%>
<%@hotelBookings.each do |booking|%>
<p>Customer Name:<%= booking.name%></p>
<p>Customer Email: <%= booking.email%></p>
<p>Room Type <%= booking.roomType%></p>
<p>Num Rooms Booked <%= booking.numRoomsBooked%></p>
<p>CheckInDate <%= booking.checkInDate%></p>
<p>CheckOutDate <%= booking.checkOutDate%></p>
<%end%>
<%end%>

<%# <div id="result">
<%= render 'result'%>
<%# </div> %> %>
