<div class="first_row">
  <div class="hotel_details">
    <h2>Hotel Details</h2>
    <p>
      <%= @hotel.name %>
    </p>
    <p>
      <%= @hotel.address %>
    </p>
    <p>
      <%= @hotel.description %>
    </p>
    <p><%= link_to "Change prices" , hotelManager_edit_path %></p>
  </div>
  
      <div class="searchElements">
      <h1>Welcome Manager <span style="color:#c374be;"><%= current_manager.name %></span></h1>
      <div class="userSearch">
      <h2>Search for a user</h2>
        <%= form_with scope: :query , url:hotelManager_search_path , data: {remote:true} do |f|%>
          <%= f.text_field :queryEmail , placeholder:"Enter the email of the user to search"%>
            <%= f.submit "Search User", :class => 'right_col_btn'%>
              <%end%>
      </div>
      <div class="intervalSearch">
      <h2>Search bookings in a time interval</h2>
        <%= form_with scope: :query , url:hotelManager_intervalSearch_path, data: { remote: true } do |f| %>
  
          <%= f.label :checkInDate%>
            <%= f.date_field :checkInDate%>
              <%= f.label :checkOutDate%>
                <%= f.date_field :checkOutDate%>
                  <p>
                    <%= f.submit "Search bookings", :class => 'right_col_btn' %>
                  </p>
                  <%end%>
      </div>
    </div>
</div>
<div class="msecond_row">
  <% if @hotelBookings.length==0 %>
    <p>Your hotel doesn't have any bookings yet.</p>
    <%else%>
     <div class="bookings_container">
  <h2>Bookings in the <%= @hotel.name %></h2>
    <div class="hotel_bookings_header">
    <li>Customer Name</li>
    <li>Customer Email</li>
    <li>Room</li>
    <li>Number of rooms</li>
    <li>CheckIn</li>
    <li>CheckOut</li>
    </div>
 
        <%@hotelBookings.each do |booking|%>
          <div class="booking_row">
            <p><%= booking.name%>
            </p>
            <p><%= booking.email%>
            </p>
            <p><%= booking.roomType%>
            </p>
            <p><%= booking.numRoomsBooked%>
            </p>
            <p><%= booking.checkInDate%>
            </p>
            <p><%= booking.checkOutDate%>
            </p>
          </div>
            <%end%>
      </div>
  <%end%>
</div>