<%# <%= render 'shared/errors', obj: @manager %> 

<div class="login_form">
    <h1>Manager Login</h1>
    <%= form_with scope: :managers , url:'/hotelManager/login' , local: true ,method: :post , data: { turbo: false } do |f| %>
    <div class="input_container">
        <div class="row">
            <%= f.label :email%>
            <%= f.email_field :email, placeholder:"Email"%>
        </div>
        <div class="row">
            <%= f.label :password%>
            <%= f.password_field :password, placeholder:"Password"%>
        </div>
        <%= f.submit "Login" , :class => 'login_btn'%>
    </div>
</div>
<%end%>