    <h1>User search details</h1>
    <% if @searchResults.length == 0%>
    <p>No results found</p>
    <%else%>
   <div class = "bookings_container">
       <div class="hotel_bookings_header">
        <li>Customer Name</li>
        <li>Customer Email</li>
        <li>Room</li>
        <li>Number of rooms</li>
        <li>CheckIn</li>
        <li>CheckOut</li>
        <li>isCancelled</li>
        </div>
            <%@searchResults.each do |booking|%>
              <div class="booking_row">
                <p><%= booking.name%>
                </p>
                <p><%= booking.email%>
                </p>
                <p><%= booking.roomType%>
                </p>
                <p><%= booking.numRoomsBooked%>
                </p>
                <p><%= booking.checkInDate%>
                </p>
                <p><%= booking.checkOutDate%>
                </p>
                <p><%= booking.isCancelled%>
                </p>
              </div>
                <%end%>
          </div>
   </div>
 
    <%end%>