<h1>User search details</h1>
<% @searchResults.each do |booking|%>
<p>Customer Name:<%= booking.name%></p>
<p>Customer Email: <%= booking.email%></p>
<p>Room Type <%= booking.roomType%></p>
<p>Num Rooms Booked <%= booking.numRoomsBooked%></p>
<p>CheckInDate <%= booking.checkInDate%></p>
<p>CheckOutDate <%= booking.checkOutDate%></p>
<%end%>