
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Hello <%= @user.name %></p>
  <p>You have booked rooms at <%= @hotel.name %></p>
    <p>
    Booking details<br>
    --------------------------
    </p>
    <p>Room Type : <%= @booking.roomType %></p>
    <p>Number of rooms booked: <%= @booking.numRoomsBooked %></p>
    <p>Check in date <%= @booking.checkInDate %></p>
    <p>Check out date <%= @booking.checkOutDate %></p>
  </body>
</html>