<section class="section-background parallax">
  <div>
    <h1>SEE THE WORLD FOR LESS</h1>
    <p>We at book easy ensure that you can find your best stays at ease.</p>
  </div>
</section>
<div class="search_form">
  <%= form_with scope: :query , url:'/hotel/search' , local: true ,method: :post , data: { turbo: false } do |f| %>
    <div class="search_input_container">
      <div class="search_row"><i class="bi bi-geo-alt"></i>
        <%= f.text_field :query , placeholder: "Search locations or hotels" %>
          <label class="dropdown">
            <div class="dd-button">
              Sort by
            </div>

            <input type="checkbox" class="dd-input" id="test">

            <ul class="dd-menu">
              <div class="checkbox">
                <td>
                  <%= f.check_box :sortByprice %>
                    <%= f.label :Price %>
                </td>
              </div>
              <div class="checkbox">
                <td>
                  <%= f.check_box :sortByAvailability %>
                    <%= f.label :Availability %>
                </td>
              </div>
             <div class="checkbox">
                <td>
                  <%= f.check_box :sortByRating %>
                    <%= f.label :Rating %>
                </td>
              </div>

            </ul>

          </label>

      </div>
      <div class="search_row_2">
        <div>
          <%= f.label "Check in date" %>
            <%= f.date_field :checkInDate , placeholder: "Check in date" %>
        </div>
        <div>
          <%= f.label "Check out date" %>
            <%= f.date_field :checkOutDate , placeholder: "Check out date" %>
        </div>
      </div>
      <div class="checkbox">
        <td>
          <%= f.check_box :onlyAvailable %>
            <%= f.label :onlyAvailable %>
        </td>
      </div>
    </div>
<div class="range_search">
      <p>Find hotels that have price within the range</p>
        <%= f.number_field :lowerBound%>
        to
        <%= f.number_field :upperBound%>
    </div>

        <div class="search_btn_container">
      <%= f.submit "Search" , :class=> "home_search_button"%>
    </div>
</div>
<%end%>
  <section class= "info_sec">
  <div class = "info_sec_content">
  <h2>Explore more and enjoy more</h2>
  <p>Need a place to stay? Let us help you! Compare deals of your favorite hotels. All in one place. Hotels at great rate. Compare & save. Hotel deals. Act fast for great deals. Free and easy to use.</p>
  </div>
  <div class = "img_container">
  </div>
  </section>
  