<div class="skillsForm">
  <%= label_tag 'Room type' %>
  <%= text_field_tag name = 'roomType[]'%>
  <%= label_tag 'Room Cost' %>
  <%= number_field_tag name = 'roomCost[]'%>
  <%= label_tag 'Rooms Available' %>
  <%= number_field_tag name = 'roomAvailable[]'%>
</div>